@page "/"

@using Workplace.Shared.Schedule
@using System.ComponentModel.DataAnnotations;

@inject IScheduleDataService data

<PageTitle>Расписание</PageTitle>

<style>
    .alert_date {
        width: 30%; 
        position: absolute; 
        right: 0; 
        top: 0;
        z-index: 10;
    }
</style>

@if (days == null)
{
    <p>Loading ...</p>
}
else
{
    @if (InvalidDate) {
        <Alert Color="AlertColor.Danger" class="alert_date" Dismissable="true">Введена некорректная дата</Alert>
        InvalidDate = false;
    }
    <div class="container" style="display: flex; justify-content: center;">
        <div class="schedule" style="width: 50%;">
            @foreach (var sd in days)
            {
                <div class="card" style="width: 80%; margin-bottom: 20px;">
                    <h5 class="card-header" style="background-color: #520dc2; color: #fff; font-weight: 700;">@sd!.Date</h5>
                    <div class="card-body">
                        @if (sd.ItemsInDay!.Count() <= 0)
                        {
                            <h5 style="font-style: italic; font-weight: 700; text-align: center; opacity: 0.5;">ТУТ НИЧЕГО НЕТ...</h5>
                        }
                        else
                        {
                            @foreach (var dayItem in sd.ItemsInDay!)
                            {
                                <ScheduleItemCard SItem="dayItem"></ScheduleItemCard>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <div class="filtres" style="width: 30%;">
            <InputDate class="form-control" Type="InputDateType.Date" @bind-Value="DateOfStart" style="width: 50%; margin-bottom: 10px;"/>
            <InputDate class="form-control" Type="InputDateType.Date" @bind-Value="DateOfEnd" style="width: 50%; margin-bottom: 10px;"/>
            <InputText class="form-control" placeholder="Найти студента" @bind-Value="studentToSearch" style="margin-bottom: 10px;"/>
            <button type="button" class="btn btn-outline-primary" @onclick="Search">Поиск расписания</button>
        </div>
    </div>
}

@code {
    List<ScheduleDay>? days { get; set; }
    [Parameter]
    public DateOnly DateOfStart { get; set; }
    [Parameter]
    public DateOnly DateOfEnd { get; set; }
    [Parameter]
    public string? studentToSearch { get; set; }

    public bool InvalidDate { get; set; }

    public async Task Search()
    {
        if (DateOfEnd.CompareTo(DateOfStart) < 0) {
            InvalidDate = true;
        }
        else {
            days = await data.GetDayRangeAsync(DateOfStart, DateOfEnd, studentToSearch!);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        DateOfStart = DateOnly.FromDateTime(DateTime.Now);
        DateOfEnd = DateOnly.FromDateTime(DateTime.Now.AddDays(3));
        days = await data.GetDayRangeAsync(DateOfStart, DateOfEnd, studentToSearch!);
    }
}
