@page "/"

@inject IDataService data

<PageTitle>Список задач</PageTitle>

<h3>Список задач</h3>

@if (tasks == null)
{
    <p>Loading ...</p>
}
else
{
    <div>
        <button type="button" class="btn btn-primary" style="position: absolute; top: 0; left: 0; margin: 70px 0 0 500px" @onclick="AddTaskItemAsync">Новая задача</button>
    </div>
    @foreach (var task in tasks)
    {
        <div class="card" style="width: 18rem; margin: 5px 10px 5px 0; display: inline-block;">
            <button type="button" class="btn-close" aria-label="Close" 
                style="scale: 0.7; position: absolute; right: 0; margin: 10px 10px 0 0" @onclick="() => RemoveTaskItemAsync(task)"></button>
            <TaskCard TaskItem="task" />
        </div>
    }
}

@code {
    IEnumerable<TaskItemDTO>? tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await data.GetDataAsync();
    }

    async Task AddTaskItemAsync()
    {
        TaskItemDTO newTask = new() { 
            Id = tasks!.Count() + 1, 
            Name = $"Задача {tasks!.Count() + 1}", 
            Description = $"Описание {tasks!.Count() + 1}", 
            Text = "Lorem ipsum dolor sit amet consectetur adipisicing elit." 
            };
        await data.AddAsync(newTask);
    }

    async Task RemoveTaskItemAsync(TaskItemDTO task) {
        await data.RemoveAsync(task);
        tasks = await data.GetDataAsync();
    }
}
