@inject NavigationManager navigate

<div class="card-body">
    <h5 class="card-title">@TaskItem!.Name</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">@TaskItem!.Description</h6>
    <p class="card-text">@TaskItem!.Text</p>
    <button type="button" class="btn btn-outline-primary" @onclick="() => NavigateToWether(TaskItem.Id)">Изменить</button>
</div>

@code {
    [Parameter, EditorRequired]
    public TaskItemDTO? TaskItem { get; set; }

    void NavigateToWether(int id)
    {
        navigate.NavigateTo($"/tasklist/{id}");
    }
}
