@page "/tasklist/{Id:int}"

<PageTitle>Форма редактирования задачи</PageTitle>

<h3>Форма редактирования @Id</h3>

<EditForm>

</EditForm>

@code {
    [Parameter, EditorRequired]
    public TaskItemDTO? TaskItem { get; set; }
    [Parameter]
    public int Id { get; set; }
}
